DemoClient/Connected Services/CounterServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="CounterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICounterService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfDemoInstanceContext" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICounterService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICounterService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ICounterService_IncreaseCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseCounter" />
  </wsdl:message>
  <wsdl:message name="ICounterService_IncreaseCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncreaseCounterResponse" />
  </wsdl:message>
  <wsdl:message name="ICounterService_IncreaseCounter_AmountTooSmallExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WcfDemoInstanceContext" name="detail" element="q1:AmountTooSmallException" />
  </wsdl:message>
  <wsdl:message name="ICounterService_IncreaseCounter_AmountTooLargeExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WcfDemoInstanceContext" name="detail" element="q2:AmountTooLargeException" />
  </wsdl:message>
  <wsdl:message name="ICounterService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="ICounterService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ICounterService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ICounterService/Login" message="tns:ICounterService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICounterService/LoginResponse" message="tns:ICounterService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="false" name="IncreaseCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/ICounterService/IncreaseCounter" message="tns:ICounterService_IncreaseCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICounterService/IncreaseCounterResponse" message="tns:ICounterService_IncreaseCounter_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICounterService/IncreaseCounterAmountTooSmallExceptionFault" name="AmountTooSmallExceptionFault" message="tns:ICounterService_IncreaseCounter_AmountTooSmallExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICounterService/IncreaseCounterAmountTooLargeExceptionFault" name="AmountTooLargeExceptionFault" message="tns:ICounterService_IncreaseCounter_AmountTooLargeExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/ICounterService/Logout" message="tns:ICounterService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICounterService/LogoutResponse" message="tns:ICounterService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ICounterService" type="tns:ICounterService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICounterService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/ICounterService/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncreaseCounter">
      <soap12:operation soapAction="http://tempuri.org/ICounterService/IncreaseCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AmountTooSmallExceptionFault">
        <soap12:fault use="literal" name="AmountTooSmallExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AmountTooLargeExceptionFault">
        <soap12:fault use="literal" name="AmountTooLargeExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/ICounterService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CounterService">
    <wsdl:port name="NetTcpBinding_ICounterService" binding="tns:NetTcpBinding_ICounterService">
      <soap12:address location="net.tcp://localhost:9987/counter/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9987/counter/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>