DemoClient/Connected Services/CounterServiceRef/WcfDemoInstanceContext.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDemoInstanceContext" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDemoInstanceContext" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CounterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CounterInfo" nillable="true" type="tns:CounterInfo" />
  <xs:complexType name="AmountTooSmallException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountTooSmallException" nillable="true" type="tns:AmountTooSmallException" />
  <xs:complexType name="AmountTooLargeException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmountTooLargeException" nillable="true" type="tns:AmountTooLargeException" />
</xs:schema>